*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zoom {
  zoom: 130%;
}
.antiZoom {
  zoom: 110%;
}
.resize{
  zoom: 100%;
}
nav {
  background-color:#333;
  padding: 0 1em;
}
.events {
  padding-top: 3em;
}
.feed {
  margin: 1em 2em;
}
.price {
  padding: 4px;
  border-radius: 7px;
}
body{
    background-color: #E8E8E8;
}
.lime {
    background-color: lime;
    stroke:#CDCCCC;
}
.gainsboro {
    fill: gainsboro;
}
#search input {
  background-color: #fff;
  width: 20em;
  color: #4DB6AC;
  padding: 0 0.6em;
  font-size: 20px;
  height: 2em;
  border-radius: 6px;
  display: inline-block;
}
i {
  display: inline-block;
}
.dodgerblue {
  background-color: dodgerblue;
  stroke:#CDCCCC;
}
.tickets {
  width: 100%;
  min-height: 6em;
  border: 3px solid black;
}
div.red {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: inline-block;
  margin: 1em 2em;
}
div.grey {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1em 2em;
}
div.c {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}
#stadium{
  width: 100%;
  height: 40em;
}
/* svg styles*/
.svgStyle {
  enable-background:new 0 0 1920 1080;
}

.plusBtn {
  display: inline-block;
  position: absolute;
  margin-top: 2em;
  margin-left: 3em;
}
.antiplusBtn {
  display: inline-block;
  position: absolute;
  margin-top: 8em;
  margin-left: 3em;
}
.descriptionCard {
  position: absolute;
  width: 13em;
  right: 2em;
}
circle:hover {
  cursor: pointer;
}
.title {
  padding-top: 1em;
}
.resizeBtn {
  display: inline-block;
  position: absolute;
  margin-top: 5em;
  margin-left: 2em;
}

/*svgg styles*/
.st0{fill:#F7F7F7;}
.st1{fill:#F7F7F7;stroke:#CDCCCC;stroke-miterlimit:10;}
.st2{fill:#F7F7F7;stroke:#CDCCCC;stroke-miterlimit:10;}
.st3{fill:#F7F7F7;stroke:#CDCCCC;stroke-miterlimit:10;}
.st4{fill:gainsboro;}
.st5{fill:none;stroke:#CDCCCC;stroke-miterlimit:10;}
.st6{fill:#CCCCCC;stroke:#CDCCCC;stroke-miterlimit:10;}
.st7{fill:#CCCCCC;stroke:#CDCCCC;stroke-width:3;stroke-miterlimit:10;}
.st8{fill:gainsboro;stroke:#CCCCCC;stroke-miterlimit:10;}
.st9{fill:gainsboro;stroke:#CDCCCC;stroke-miterlimit:10;}
    
#container2 {
  width: 100%;
  height: 40em;
  margin: 0;
  padding: 0;
}
.purple {
  fill: mediumpurple;
}
#lowerRightMezzanne:hover{
  opacity: 0.4;
  cursor: pointer;
}
#leftMezzanne:hover{
  opacity: 0.4;
  cursor: pointer;
}
.barCode {
  width: 10em;
  height: auto;
}
.ticketContainer {
  background-image: linear-gradient(-45deg, #8067B7, #EC87C0);
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.ticketImg {
  width: 100%;
}