*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color:#333;
    padding: 0 1em;
}
.events {
    padding-top: 3em;
}
.feed {
    margin: 1em 2em;
}
.price {
    padding: 4px;
    border-radius: 7px;
}
body{
    background-color: #E8E8E8;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.tickets {
    width: 100%;
    min-height: 6em;
    border: 3px solid black;
}
div.red {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: inline-block;
    margin: 1em 2em;
}
div.grey {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 1em 2em;
}
div.c {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}